
  
  body
  {
      width: 100%;
      margin: 0;
      padding: 0;
      
  }
  #first_bar
  {
      margin: 0;
      padding: 0 10%;
      height: 40px;
      top: 1;
      position: sticky;
      background-color:#52a8df;
      overflow-wrap :auto;
      display: flex;
      justify-content: space-between;
  
  }
  #first_bar ul {
      display: flex;
      list-style: none;   
      align-items: center; 
  }
  #first_bar ul a{
      padding: 0.75rem;
      color: white;
      text-decoration: none;
  }
  .images
  {
      margin-top: 5px;
      margin-left:8px;
  }
  
  /* logoja */ 
  #logo_place
  {
      margin: 0 10%;
      height: 150px;
      display: flex;
      flex-direction: row;  
  }
  
  .logo
  {
      padding: 4rem;
      text-align: center;
      flex: 1;
  }
  #final_Logo
  {
    height: 140px;
    padding: 4px 20px;
  }
  #searchbtn
  {
    background-color:#52a8df;
    border-radius: 5px;
    color: whitesmoke;
    width: auto;
    height: 30px;
  }
  .logo.first-child
  {
      flex: 2;
  }
  
  .navbar {
    background-color:#333;
    width:100%;
    overflow: hidden;
}
.navbar-container {
    margin: 0;
    margin-left: 15%;
    padding: 0 10%;
    width:80%;
    max-width: 100%;
    overflow: 0;
    column-gap: 10px;
    column-rule: 50px outset #333;
    -moz-column-gap: 5px;
}
.navbar a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    font-size: large;
} 
.navbar ul {
    list-style: none;
    float: left;
}
.navbar ul li {
    float: left;
    color: #fff;
}   
.navbar ul li a{
    display: block;
    margin-right: 15px ;
    border-right: 1px solid black;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
}
.navbar ul li:last-child a{
    border-right: none;
}

.navbar ul li a:hover, 
.navbar ul li a.current {
    border-bottom: 3px solid aqua;
}
    
.articles
{
    padding: 0 20%;
}
.box
  {
    background-color: white;
    border: 2px solid green;
    width: 100%;
    height: 216px;
    margin: 10px 20px;
    padding: 0px 20px;
}
h3 
{
    float: inline-start;
    margin-top: 15px;
    margin-bottom: 40px;
    color: black;
}
a{
    text-decoration: none;
}

.imgs
{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 20px 0;
    width: 280px;
    height: auto;
}

.pagination
{
    padding: 0 40%;
}
.pagination a
{
    color: red;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active
{
    background-color: violet;
    color: white;
}

.pagination a:not(.active){background-color: green;}

.footer{
    background-color: #1c1c1c;
    height: 400px;
    position: relative;
    padding: 0 10%;
    }
    .footer .footer-bottom{
        text-align: left;
        border-top: 1px solid #303030;
        padding: 0 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        line-height: 40px;
        color: #666666;
    }
    .footer .footer-content{
        border-bottom: 1px solid #000000;
        width: 100%;
        display: flex;
    }
    .footer .footer-content .footer-section{
        flex:1;
        padding:0px 20px 20px 20px;
    }
    .footer .footer-content h4{
        font-size: 12px;
        line-height: 14px;
        color: white;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .footer .footer-content p{
        font-size: 12px;
        line-height: 19px;
        color: #666666;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .footer .footer-section span {
        font-size: 10px;
        line-height: 12px;
        color: #666666;
        font-family: "Georgia";
    }
    .footer .footer-content .latest p{
        display: block;
        margin-bottom: 30px;
        border-bottom: 1px #232323;
        font-size: 12px;
        line-height: 14px;
        color: #666666;
        font-family: "Georgia";
    }
    .footer .footer-content .latest br{
        font-size: 10px;
        line-height: 12px;
        color: #666666;
        font-family: "Georgia";
    }
    .footer .footer-content img{
        float: left;
        margin-right: 10px;
    }
    .footer .footer-content .links ul {
        display: block;
        padding: 0;
    }
    .footer .footer-content .links ul a{
        border-bottom: 1px solid #232323;        
        color:#2aa2d4;
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
        line-height: 30px;
    }
    .footer .footer-content .links ul a:hover{
        color:white;
        list-style: none;
        margin-left: 15px;
        transition: all .3s;
    }
    .forma .hapesira{
        border: 0px;
        margin-bottom: 10px;
        width: 225px;
        height: 31px;
        border-radius: 7px;
        background-color: #232323;
        font-size: 13px;
        line-height: 21px;
        color: #666666;
        font-family: "Georgia";
    }
    input[type=submit]{
        border: 0px;
        font-size: 13px;
        line-height: 21px;
        color: #ffffff;
        font-family: "Georgia";
        width: 76px;
        height: 31px;
        border-radius: 7px;
        background-color: #2aa2d4;
    }
    textarea{
        border: 0px;
        width: 225px;
        height: 110px;
        border-radius: 7px;
        background-color: #232323;
        font-size: 13px;
        line-height: 21px;
        color: #666666;
        font-family: "Georgia";
    }
    .footer .footer-content .links ul li{
        list-style: none;
    }
    .footer .footer-content .links ul li:before{
        content: '\00BB';
        color:#666666;
    }
